#container {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(54 50 164 / 20%);
  border-radius: 20px;
  gap: 20px;
}

#emoji-cards {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

body {
  font-size: 24px;
  text-align: center;
  font-family: "Arial", sans-serif;
}
